@import "../../styles/layout.scss";
@import "../../styles/colours.scss";
@import "../../styles/fonts.scss";

.details-container {
    margin: $sp-md $sp-xl;
    background: $secondary-bg-colour;
    display: flex;
    justify-content: flex-start;
    border-radius: $sp-sm;

    .poster-img {
        border-top-left-radius: $sp-sm;
        border-bottom-left-radius: $sp-sm;
        height: 100%;
    }

    .details-header-container {
        display: flex;
        align-items: center;
        h1 {
            @include header;
        }
        p {
            padding-left: $sp-md;
            @include paragraph(12px, 14px);
            font-style: italic;
        }
    }
    .details-content-container {
        padding: $sp-md;
        flex-basis: 100%;
    }
}