@import "./colour-pallet.scss";
//Site colour definitions

// Backgrounds
$bg-colour: $Mako;
$secondary-bg-colour: $Shark;
$highlight: $Gamboge;

// Borders
$primary-border: $Silver;

// Text
$primary-text-colour: $White;
$secondary-text-colour: rgba($White, 0.7);

